<div class="gallery--content" {{ block.shopify_attributes }}>
    {% assign sizes  = srcset_sizes | split: '|' %}

    {% unless block.type != 'video' %}

        {% if block.settings.video_url.type == 'youtube' %}

        <iframe class="gallery--video"
                src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?color=white&ampcontrols=1&amp;enablejsapi=1&amp;modestbranding=1&amp;playsinline=1&amp;rel=0"
                frameborder="0"
                title="{{ block.settings.video_url.type }}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>

        {% else %}

        <iframe class="gallery--video"
                src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?&title=0&byline=0&color=ffffff&transparent=false"
                title="{{ block.settings.video_url.type }}"
                frameborder="0"
                allowfullscreen>
        </iframe>

        {% endif %}

    {% endunless %}

    {% unless block.type != 'image' %}

        {% if sizes.size == 1 %}
            <img
                class="gallery--banner"
                src="{{ block.settings.image | img_url: sizes[0] }}"
                alt="{{ block.settings.image.alt }}
            ">
        {% else %}
            <picture>
                <source
                    srcset="{{ block.settings.image | img_url: sizes[2] }}"
                    media="(min-width: 992px)"
                >
                <source
                    srcset="{{ block.settings.image | img_url: sizes[1] }}"
                    media="(min-width: 768px)"
                >
                <img
                    class="gallery--banner"
                    src="{{ block.settings.image | img_url: sizes[0] }}"
                    alt="{{ block.settings.image.alt }}
                ">
            </picture>
        {% endif %}

        <div class="gallery--banner-wrapper">
            <a class="gallery--banner-link" href="{{ block.settings.url }}">
                <div class="gallery--banner-content">
                    {{ block.settings.content }}
                </div>
            </a>
        </div>

    {% endunless %}

    {% unless block.type != 'slideshow'%}
        {% assign app_type = 'gallery-slideshow' %}

        <script id="{{ sectionId }}-{{ app_type }}">
            window.theme.vue.availableApps.push({
                type: "{{ app_type }}",
                id: "{{ sectionId }}"
            });
        </script>

        <div
            id="gallery-slideshow-{{ sectionId }}"
            data-app-id="{{ sectionId }}"
            data-app-type="{{ app_type }}"
            class="gallery--slideshow"
        >
            <div class="swiper-wrapper">
                {%- comment -%}Slides{%- endcomment -%}
                {% unless block.settings.image_one == blank %}
                    {% render 'gallery-slideshow-slide' with
                        img_sizes: sizes,
                        image: block.settings.image_one,
                        url: block.settings.url_one,
                        content: block.settings.content_one
                    %}
                {% endunless %}
                {% unless block.settings.image_two == blank %}
                    {% render 'gallery-slideshow-slide' with
                        img_sizes: sizes,
                        image: block.settings.image_two,
                        url: block.settings.url_two,
                        content: block.settings.content_two
                    %}
                {% endunless %}
                {% unless block.settings.image_three == blank %}
                    {% render 'gallery-slideshow-slide' with
                        img_sizes: sizes,
                        image: block.settings.image_three,
                        url: block.settings.url_three,
                        content: block.settings.content_three
                    %}
                {% endunless %}
            </div>
            {% unless block.settings.image_two == blank %}
                <div class="gallery--slideshow-pagination"></div>
                {% unless navigation == false %}
                    <button
                        id="button-prev-{{ section.id }}"
                        class="gallery--slideshow-button-prev"
                        aria-label="previous slide"
                        aria-disabled="true"
                        disabled="disabled"
                    >
                        <span class="gallery--slideshow-button-icon" aria-hidden="true">
                            {% render 'icon--chevron-left.svg' %}
                        </span>
                    </button>
                    <button
                        id="button-next-{{ section.id }}"
                        class="gallery--slideshow-button-next"
                        aria-label="next slide"
                        aria-disabled="false"
                    >
                        <span class="gallery--slideshow-button-icon" aria-hidden="true">
                            {% render 'icon--chevron-right.svg' %}
                        </span>
                    </button>
                {% endunless %}
            {% endunless %}
        </div>
    {% endunless %}
</div>