<div class="content" {{ block.shopify_attributes }}>
    {% if block.type == 'video' %}

        {% if block.settings.video_url.type == 'youtube' %}

        <iframe class="content--video"
                src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?color=white&ampcontrols=1&amp;enablejsapi=1&amp;modestbranding=1&amp;playsinline=1&amp;rel=0"
                frameborder="0"
                title="{{ block.settings.video_url.type }}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>

        {% else %}

        <iframe class="content--video"
                src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?&title=0&byline=0&color=ffffff&transparent=false"
                title="{{ block.settings.video_url.type }}"
                frameborder="0"
                allowfullscreen>
        </iframe>

        {% endif %}

    {% elsif block.type == 'image' %}

        {% assign sizes  = srcset_sizes | split: '|' %}

        {% if sizes.size == 1 %}
            <img
                class="content--banner"
                src="{{ block.settings.image | img_url: sizes[0] }}"
                alt="{{ block.settings.image.alt }}
            ">
        {% else %}
            <picture>
                <source srcset="{{ block.settings.image | img_url: sizes[2] }}" media="(min-width: 992px)">
                <source srcset="{{ block.settings.image | img_url: sizes[1] }}" media="(min-width: 768px)">
                <img
                    class="content--banner"
                    src="{{ block.settings.image | img_url: sizes[0] }}"
                    alt="{{ block.settings.image.alt }}
                ">
            </picture>
        {% endif %}

        <div class="content--banner-wrapper">
            <a class="content--banner-link" href="{{ block.settings.url }}">
                <div class="content--banner-content">
                    {{ block.settings.content }}
                </div>
            </a>
        </div>

    {% elsif block.type == 'slideshow'%}

        {% assign app_type = 'vue-gallery-slideshow' %}
        {% assign sizes  = srcset_sizes | split: '|' %}

        <script id="{{ sectionId }}-{{ app_type }}">
            window.theme.vue.availableApps.push({
                type: "{{ app_type }}",
                id: "{{ sectionId }}"
            });
        </script>

        <div id="vue-gallery-slideshow-{{ sectionId }}"
             data-app-id="{{ sectionId }}"
             data-app-type="{{ app_type }}"
             v-swiper:slideshow="options"
             class="content--slideshow"
        >
            <div class="swiper-wrapper">

                {%- comment -%}

                  Slides Start

                {%- endcomment -%}

                {% unless block.settings.image_one == blank %}

                    <div class="swiper-slide">

                        {% if sizes.size == 1 %}
                            <img
                                class="content--banner"
                                src="{{ block.settings.image_one | img_url: sizes[0] }}"
                                alt="{{ block.settings.image.alt }}
                            ">
                        {% else %}
                            <picture>
                                <source srcset="{{ block.settings.image_one | img_url: sizes[2] }}" media="(min-width: 992px)">
                                <source srcset="{{ block.settings.image_one | img_url: sizes[1] }}" media="(min-width: 768px)">
                                <img
                                    class="content--banner"
                                    src="{{ block.settings.image_one | img_url: sizes[0] }}"
                                    alt="{{ block.settings.image.alt }}
                                ">
                            </picture>
                        {% endif %}

                        <div class="content--slideshow-wrapper">
                            <a class="content--banner-link" href="{{ block.settings.url_one }}">
                                <div class="content--banner-content">
                                    {{ block.settings.content_one }}
                                </div>
                            </a>
                        </div>

                    </div>

                {% endunless %}

                {% unless block.settings.image_two == blank %}

                    <div class="swiper-slide">

                        {% if sizes.size == 1 %}
                            <img
                                class="content--banner"
                                src="{{ block.settings.image_two | img_url: sizes[0] }}"
                                alt="{{ block.settings.image.alt }}
                            ">
                        {% else %}
                            <picture>
                                <source srcset="{{ block.settings.image_two | img_url: sizes[2] }}" media="(min-width: 992px)">
                                <source srcset="{{ block.settings.image_two | img_url: sizes[1] }}" media="(min-width: 768px)">
                                <img
                                    class="content--banner"
                                    src="{{ block.settings.image_two | img_url: sizes[0] }}"
                                    alt="{{ block.settings.image.alt }}
                                ">
                            </picture>
                        {% endif %}

                        <div class="content--slideshow-wrapper">
                            <a class="content--banner-link" href="{{ block.settings.url_two }}">
                                <div class="content--banner-content">
                                    {{ block.settings.content_two }}
                                </div>
                            </a>
                        </div>

                    </div>

                {% endunless %}

                {% unless block.settings.image_three == blank %}

                    <div class="swiper-slide">

                        {% if sizes.size == 1 %}
                            <img
                                class="content--banner"
                                src="{{ block.settings.image_three | img_url: sizes[0] }}"
                                alt="{{ block.settings.image.alt }}
                            ">
                        {% else %}
                            <picture>
                                <source srcset="{{ block.settings.image_three | img_url: sizes[2] }}" media="(min-width: 992px)">
                                <source srcset="{{ block.settings.image_three | img_url: sizes[1] }}" media="(min-width: 768px)">
                                <img
                                    class="content--banner"
                                    src="{{ block.settings.image_three | img_url: sizes[0] }}"
                                    alt="{{ block.settings.image.alt }}
                                ">
                            </picture>
                        {% endif %}

                        <div class="content--slideshow-wrapper">
                            <a class="content--banner-link" href="{{ block.settings.url_three }}">
                                <div class="content--banner-content">
                                    {{ block.settings.content_three }}
                                </div>
                            </a>
                        </div>

                    </div>

                {% endunless %}

                {%- comment -%}

                  Slides End

                {%- endcomment -%}

            </div>

            {% unless block.settings.image_two == blank %}

                <div class="content--slideshow-pagination"></div>

                {% unless navigation == false %}

                <button
                    class="swiper--button-prev"
                    v-bind:aria-disabled="controls.prev.disable"
                    v-bind:disabled="controls.prev.disable"
                    v-on:click="prev"
                    aria-label="previous slide"
                >
                    <span class="swiper--button-icon" aria-hidden="true">
                        {% include 'icon--chevron-left.svg' %}
                    </span>
                </button>
                <button
                    class="swiper--button-next"
                    v-bind:aria-disabled="controls.next.disable"
                    v-bind:disabled="controls.next.disable"
                    v-on:click="next"
                    aria-label="next slide"
                >
                    <span class="swiper--button-icon" aria-hidden="true">
                        {% include 'icon--chevron-right.svg' %}
                    </span>
                </button>

                {% endunless %}

            {% endunless %}

        </div>

    {% endif %}
</div>