<div v-on:click.stop class="menu-desktop--dropdown">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    {% for menu_item in menu.links %}

                    <div class="col-3">
                        <a href="{{ menu_item.url }}" class="menu-desktop--item-title">
                            {{ menu_item.title }}
                        </a>

                        {% assign sub_menu = menu_item.links %}

                        {% if sub_menu != blank %}

                        <ul class="menu-desktop--sub-menu-items">

                        {% for sub_menu_item in sub_menu %}

                        <li class="menu-desktop--sub-menu-item">
                            <a href="{{ sub_menu_item.url }}">
                                {{ sub_menu_item.title }}
                            </a>
                        </li>

                        {% endfor %}

                        </ul>

                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
            </div>

            {% if section.blocks.size >= 1 %}

            <div class="col-3">

                {% assign first_block = section.blocks[0] %}

                <div class="menu--ads-primary" {{ first_block.shopify_attributes }}>
                    <div class="menu--ad">
                        <a href="{{ first_block.settings.ad_url }}">
                            <img
                                class="menu--ad-image"
                                src="{{ first_block.settings.ad_image | img_url: '250x' }}"
                                alt="{{ first_block.settings.ad_description }}
                            ">
                        </a>
                    </div>
                </div>

            </div>

            {% endif %}
        </div>

        {% if section.blocks.size >= 2 %}

        <div class="menu--ads-secondary">
            <div class="row">

                {% for block in section.blocks offset: 1 %}
                    <div class="col-4" {{ block.shopify_attributes }}>
                        <div class="menu--ad">
                            <a href="{{ block.settings.ad_url }}">
                                <img
                                    class="menu--ad-image"
                                    src="{{ block.settings.ad_image | img_url: '250x' }}"
                                    alt="{{ block.settings.ad_description }}
                                ">
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        {% endif %}
    </div>
</div>