<div v-on:click.stop class="menu-desktop--dropdown">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    {%- comment -%} MENU {%- endcomment -%}
                    {% for menu_item in menu.links %}
                        <div class="col-3">
                            <div class="menu-desktop--dropdown-item">
                                <a href="{{ menu_item.url }}" class="menu-desktop--item-title">
                                    {{ menu_item.title }}
                                </a>
                                {%- comment -%} SUB MENU {%- endcomment -%}
                                {% assign sub_menu = menu_item.links %}
                                {% if sub_menu != blank %}
                                    <ul class="menu-desktop--sub-menu-items">
                                        {% for item in sub_menu %}
                                            <li class="menu-desktop--sub-menu-item">
                                                <a href="{{ item.url }}">{{ item.title | downcase }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {%- comment -%} 238x263 AD {%- endcomment -%}
            {% if section.blocks.size >= 1 %}
                <div class="col-3">
                    {% assign first_block = section.blocks[0] %}
                    <div class="menu-ads--primary" {{ first_block.shopify_attributes }}>
                        <a class="menu-ads--primary-link" href="{{ first_block.settings.url }}">
                            <img
                                class="menu-ads--primary-image"
                                src="{{ first_block.settings.image | img_url: 'x270' }}"
                                alt="{{ first_block.settings.description }}
                            ">
                            <div class="menu-ads--primary-content">

                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        {%- comment -%} 342x130 ADS {%- endcomment -%}
        {% if section.blocks.size >= 2 %}
            <div class="menu-ads--secondary">
                <div class="row">
                    {% for block in section.blocks offset: 1 %}
                        <div class="col-4" {{ block.shopify_attributes }}>
                            <a class="menu-ads--secondary-link" href="{{ block.settings.url }}">
                                <img
                                    class="menu-ads--secondary-image"
                                    src="{{ block.settings.image | img_url: '250x' }}"
                                    alt="{{ block.settings.description }}
                                ">
                                <div class="menu-ads--secondary-content">

                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>