<!doctype html>
<html lang="{{ shop.locale }}">

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/vue@2.6.12" as="script">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">

  {% unless canonical_url == blank  %}
    <link rel="canonical" href="{{ canonical_url }}">
  {% endunless%}

  {% unless settings.favicon == blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endunless %}

  <script>
    var theme = {
      vue: {
        availableApps: []
      }
    }
  </script>

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="all">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12" type="text/javascript" defer="defer"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" type="text/javascript" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" type="text/javascript" defer="defer"></script>

  {{ content_for_header }}
</head>

<body>
  {% section 'header' %}

  <main role="main">
    {% include 'notification-bar' %}
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
</body>

</html>