<section class="featured-collection">
    {% assign app_type = 'featured-collection' %}

    <script id="{{ section.id }}-{{ app_type }}">
        window.theme.vue.availableApps.push({
            type: "{{ app_type }}",
            id: "{{ section.id }}"
        });
    </script>

    <div class="container">
        <div class="row">
            {%- comment -%} Tabs {%- endcomment -%}
            <div class="col-12">
                <ul id="featured-collection--tabs-{{ section.id }}" class="featured-collection--tabs">
                    {% for block in section.blocks %}
                        {% assign collection_title = collections[block.settings.collection].title %}
                        <li class="featured-collection--tab {% if forloop.first %}featured-collection--tab-active{% endif %}"
                            data-collection="{{ forloop.index0 }}"
                            tabindex="0"
                            aria-label="{{ collection_title }}"
                            {{ block.shopify_attributes }}
                        >
                            {{ collection_title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {%- comment -%} Products {%- endcomment -%}
            <div class="col-12">
                <div id="featured-collection--collections-{{ section.id }}" class="featured-collection--collections">
                    {% for block in section.blocks %}
                        {% assign collection_title = collections[block.settings.collection].title %}
                        <div class="featured-collection--collection {% if forloop.first %}featured-collection--collection-active{% endif %}" {{ block.shopify_attributes }}>
                            {% paginate collections[block.settings.collection].products by section.settings.products_per_page %}
                                <div class="row no-margin">
                                    {% for product in collections[block.settings.collection].products %}
                                        <div class="featured-collection--collection-product col-12 col-md-4 col-lg-3">
                                            {% include 'product-grid' with product: product %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% unless paginate.parts.size < 1 %}
                                    {% assign url_array = paginate.next.url | split: 'page=' %}
                                    {% assign url = url_array[0] %}
                                    <div class="featured-collection--collection-lazyload">
                                        <button
                                            class="featured-collection--collection-lazyload-button active"
                                            data-collection="{{ collection_title | downcase }}"
                                            data-total-chunks="{{ paginate.pages }}"
                                            data-url="{{ url }}"
                                        >
                                            show more
                                        </button>
                                        <div class="featured-collection--collection-lazyload-loader">
                                            {% include 'icon-loader.svg' %}
                                        </div>
                                    </div>
                                {% endunless %}
                            {% endpaginate %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Featured Collection",
    "max_blocks": 4,
    "blocks": [
        {
            "name": "Collection",
            "type": "collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Featured collection"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "select",
            "id": "products_per_page",
            "options": [
                { "value": "4", "label": "4 Products"},
                { "value": "8", "label": "8 Products"},
                { "value": "12", "label": "12 Products"},
                { "value": "16", "label": "16 Products"}
            ],
            "label": "Products per collection"
        }
    ],
    "presets": [
        {
            "category": "collection",
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}