<section class="footer">
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
                <div class="col-12 col-md-3">
                    {% if block.type == 'links' %}
                        <h3 class="footer--heading">{{ block.settings.heading }}</h3>
                        <ul class="footer--links">
                            {% for link in linklists[block.settings.footer_linklist].links %}
                                <li class="footer--links-link">
                                    <a href="{{ link.url }}">{{ link.title | downcase }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <form>
                            <label>
                                <input name="email" type="email" placeholder="{{ block.settings.cta }}">
                            </label>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="flex-wrap-reverse row">
            <div class="col-12 col-md-6">
                <div class="footer--cards">
                    {% unless section.settings.visa == blank %}
                        <div class="footer--cards-card">
                            {{ 'visa.jpg' | asset_img_url: 'master' | img_tag }}
                        </div>
                    {% endunless %}
                    {% unless section.settings.mastercard == blank %}
                        <div class="footer--cards-card">
                            {{ 'mastercard.jpg' | asset_img_url: 'master' | img_tag }}
                        </div>
                    {% endunless %}
                    {% unless section.settings.discover == blank %}
                        <div class="footer--cards-card">
                            {{ 'discover.jpg' | asset_img_url: 'master' | img_tag }}
                        </div>
                    {% endunless %}
                    {% unless section.settings.amex == blank %}
                        <div class="footer--cards-card">
                            {{ 'amex.jpg' | asset_img_url: 'master' | img_tag }}
                        </div>
                    {% endunless %}
                </div>
                <small class="footer--copyright">&#169 {{ 'now' | date: "%Y" }} {{ shop.name }}. all rights reserved.</small>
            </div>
            <div class="col-12 col-md-6">
                <div class="footer--socials">
                    {% unless section.settings.facebook == blank %}
                        <a class="footer--socials-social" href="{{ section.settings.facebook }}">
                            {% include 'icon-facebook.svg' %}
                        </a>
                    {% endunless %}
                    {% unless section.settings.instagram == blank %}
                        <a class="footer--socials-social" href="{{ section.settings.instagram }}">
                            {% include 'icon-instagram.svg' %}
                        </a>
                    {% endunless %}
                    {% unless section.settings.twitter == blank %}
                        <a class="footer--socials-social" href="{{ section.settings.twitter }}">
                            {% include 'icon-twitter.svg' %}
                        </a>
                    {% endunless %}
                    {% unless section.settings.pinterest == blank %}
                        <a class="footer--socials-social" href="{{ section.settings.pinterest }}">
                            {% include 'icon-pinterest.svg' %}
                        </a>
                    {% endunless %}
                    {% unless section.settings.youtube == blank %}
                        <a class="footer--socials-social" href="{{ section.settings.youtube }}">
                            {% include 'icon-youtube.svg' %}
                        </a>
                    {% endunless %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Footer",
    "blocks": [
        {
            "name": "Newsletter",
            "type": "newsletter",
            "limit": 1,
            "settings": [
                {
                    "id": "cta",
                    "type": "text",
                    "label": "Call to Action"
                }
            ]
        },
        {
            "name": "Links",
            "type": "links",
            "limit": 3,
            "settings": [
                {
                    "id": "heading",
                    "type": "text",
                    "default": "Customer Service",
                    "label": "Footer Links Heading"
                },
                {
                    "id": "footer_linklist",
                    "type": "link_list",
                    "label": "Link List"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "visa",
            "type": "checkbox",
            "label": "Visa"
        },
        {
            "id": "mastercard",
            "type": "checkbox",
            "label": "Mastercard"
        },
        {
            "id": "discover",
            "type": "checkbox",
            "label": "Discover"
        },
        {
            "id": "amex",
            "type": "checkbox",
            "label": "American Express"
        },
        {
            "id": "facebook",
            "type": "url",
            "label": "Facebook"
        },
        {
            "id": "instagram",
            "type": "url",
            "label": "Instagram"
        },
        {
            "id": "twitter",
            "type": "url",
            "label": "Twitter"
        },
        {
            "id": "pinterest",
            "type": "url",
            "label": "Pinterest"
        },
        {
            "id": "youtube",
            "type": "url",
            "label": "Youtube"
        }
    ]
}
{% endschema %}