<header id="vue-header"
		v-on-clickaway="clickedAway"
		class="header"
>
	{%- comment -%} Topbar {%- endcomment -%}
	<section class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-7">
					<ul class="topbar--links">
						{% if shop.customer_accounts_enabled %}
							{% if customer %}

								<li class="topbar--link"><a href="/account">my account</a></li>
								<li class="topbar--link"><a href="/account/logout">log out</a></li>

							{% else %}

								<li class="topbar--link">
									<span><a href="/account/login">log in</a></span>
									or
									<span><a href="/account/register">register</a></span>
								</li>

							{% endif %}
						{% endif %}
					</ul>
				</div>
				<div class="col-md-5">
					<ul class="topbar--minicart">
						<li class="topbar--minicart-wrapper">
							<button
								v-on:click.stop="toggleDesktopCart"
								v-bind:class="desktopCartActive"
								v-bind:aria-expanded="desktop.cart"
								v-bind:aria-haspopup="desktop.cart"
								aria-label="mini cart dropdown"
								class="topbar--minicart-button-dropdown"
							>
								my bag: {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'item(s)' }}
							</button>
							{%- comment -%} Mini Cart Dropdown {%- endcomment -%}
							{% render 'mini-cart' %}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	{%- comment -%} Navigation {%- endcomment -%}
	<nav class="navigation">
		<div class="container relative-position">
			<div class="row">
				{%- comment -%} Logo {%- endcomment -%}
				<div class="col-12 col-md-5 col-lg-3">
					{% if section.settings.logo %}

						<a class="logo" href="{{ shop.url }}">
							{{ section.settings.logo | img_url: 'large' | img_tag: shop.name }}
						</a>

					{% else %}

						<a class="logo" href="{{ shop.url }}">
							<img src="{{ 'logo.webp' | asset_url }}" alt="{{ shop.name }}">
						</a>

					{% endif %}
				</div>
				{%- comment -%} ComboBox {%- endcomment -%}
				<div class="col-12 col-md-7 col-lg-9 no-position">
					<div
						class="combobox"
						v-on:click.stop="clearSearch"
						v-on:keyup="clearSearch"
					>
						<form v-on:submit.prevent>
							<label class="combobox--input-label">
								<input
									aria-label="Search for product"
									class="combobox--search-input"
									v-model="search.term"
									v-bind:aria-expanded="Boolean(search.term)"
									v-bind:aria-haspopup="Boolean(search.term)"
									placeholder="Find it here..."
									type="text"
								>
								<div class="combobox--search-input-icon">

									<span v-if="search.term">
										{% render 'icon-loader.svg' %}
									</span>

									<span v-else>
										{% render 'icon-search.svg' %}
									</span>

								</div>
							</label>
						</form>
						<div class="combobox--search-results" v-bind:class="searchActive">
							<div class="container-fluid">
								<div v-show="search.term">
									<div class="result" v-for="product in search.results" :key="product.id">
										<a class="result--link" :href="product.url" aria-labelledby="result--description">
										<div class="row">
											<div class="col-3">
												<img
													class="result--image"
													:src="product.image"
													:alt="product.handle"
												>
											</div>
											<div class="col-9">
												<p class="result--description">${ product.title }</p>
											</div>
										</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{%- comment -%} Desktop Menu {%- endcomment -%}
					<div class="menu-desktop">
						<ul class="menu-desktop--items">
							{% for menu_item in linklists[section.settings.main_linklist].links %}
								{% if menu_item.links == blank %}

									<li class="menu-desktop--item">
										<a class="menu-desktop--item-link" href="{{ menu_item.url }}">
											{{ menu_item.title }}
										</a>
									</li>

								{% else %}

									<li class="menu-desktop--item"
										data-menu="{{ forloop.index0 }}"
										v-on:mouseenter="toggleDesktopMenu"
										v-on:mouseleave="toggleDesktopMenu"
										v-on:click.stop="toggleDesktopMenu"
									>
										<button
											class="menu-desktop--item-button"
											aria-expanded="false"
											aria-haspopup="false"
											aria-label="{{menu_item.title}} menu dropdown"
										>
											{{ menu_item.title }}

											<span class="menu-desktop--item-icon" aria-hidden="true">
												{% render 'icon-chevron.svg' %}
											</span>
										</button>

										{%- comment -%} Desktop Menu Dropdown {%- endcomment -%}
										{% render 'menu-desktop-dropdown' with menu: menu_item %}
									</li>

								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				{%- comment -%} Tablet Menu {%- endcomment -%}
					<div class="menu-tablet">
						<ul class="menu-desktop--items">
							{% for menu_item in linklists[section.settings.main_linklist].links %}
								{% if menu_item.links == blank %}
									<li class="menu-desktop--item" v-on:click.stop="clickedAway">
										<a class="menu-desktop--item-link" href="{{ menu_item.url }}">
											{{ menu_item.title }}
										</a>
									</li>
								{% else %}
									<li
										class="menu-desktop--item"
										data-menu="{{ forloop.index0 }}"
										v-on:click.stop="toggleDesktopMenu"
									>
										<button
											class="menu-desktop--item-button"
											aria-expanded="false"
											aria-haspopup="false"
											aria-label="{{menu_item.title}} menu dropdown"
										>
											{{ menu_item.title }}

											<span class="menu-desktop--item-icon" aria-hidden="true">
												{% render 'icon-chevron.svg' %}
											</span>
										</button>
										{%- comment -%} Desktop Menu Dropdown {%- endcomment -%}
										{% render 'menu-desktop-dropdown' with menu: menu_item %}
									</li>

								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{%- comment -%} Mobile Menu {%- endcomment -%}
			<div class="menu-mobile" v-on-clickaway="clickedAway">
				<div class="row">
					<div class="col-6">
						<button
							v-on:click.stop="toggleMobileMenu"
							v-bind:aria-expanded="mobile.menu"
							class="menu-mobile--button-dropdown"
							aria-labelledby="menu-mobile--title"
						>
							<span aria-hidden="true">
								{% render 'icon-hamburger.svg' %}
							</span>
							<span id="menu-mobile--title" class="menu-mobile--title">navigation</span>
						</button>
					</div>
					<div class="col-6">
						<button
							v-on:click.stop="toggleMobileCart"
							v-bind:class="mobileCartActive"
							v-bind:aria-expanded="mobile.cart"
							v-bind:aria-haspopup="mobile.cart"
							aria-label="mini cart dropdown"
							class="menu-mobile--button-cart"
						>
							<span aria-hidden="true">
								{% render 'icon-bag.svg' %}
							</span>
							<span aria-label="cart total">
								{{ cart.total_price | money }}
							</span>
						</button>
					</div>
				</div>
				{%- comment -%} Mobile Menu Dropdown {%- endcomment -%}
				{% render 'menu-mobile-dropdown' %}
				{%- comment -%} Mini Cart Dropdown {%- endcomment -%}
				{% render 'mini-cart' %}
			</div>
		</div>
	</nav>
</header>

{% schema %}
{
	"name": "Header",
	"blocks": [
		{
			"name": "Menu Advertisement",
			"type": "ad",
			"limit": 4,
			"settings": [
				{
					"id": "image",
					"type": "image_picker",
					"label": "Image"
				},
				{
					"id": "url",
					"type": "url",
					"label": "Link to Product or Collection."
				},
				{
					"id": "description",
					"type": "text",
					"label": "SEO",
					"info": "Description of ad."
				},
				{
					"id": "content",
					"type": "html",
					"label": "Content",
                    "info": "Use basic HTML to format text"
				}
			]
		}
	],
	"settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo 210x35"
		},
		{
			"type": "link_list",
			"id": "main_linklist",
			"default": "main-menu",
			"label": "Menu"
		}
	]
}
{% endschema %}