{% assign app_type = 'slideshow' %}

<div id="slideshow-{{ section.id }}"
     class="slideshow"
     data-app-id="{{ section.id }}"
     data-app-type="{{ app_type }}"
>
    <script id="{{ section.id }}-{{ app_type }}">
        window
            .theme
            .vue
            .availableApps
            .push({type: "{{ app_type }}", id: "{{ section.id }}"});
    </script>
    <div class="swiper-wrapper slideshow--initializing">
        {%- comment -%} Slides {%- endcomment -%}
        {% for block in section.blocks %}
            <div class="slideshow--slide" {{ block.shopify_attributes }}>
                <picture>
                    <source
                        srcset="{{ block.settings.image | img_url: '1900x'}}"
                        media="(min-width: 1200px)"
                    >
                    <source
                        srcset="{{ block.settings.image | img_url: '1000x'}}"
                        media="(min-width: 992px)"
                    >
                    <source
                        srcset="{{ block.settings.image | img_url: '800x'}}"
                        media="(min-width: 768px)"
                    >
                    <img
                        class="slideshow--image"
                        src="{{ block.settings.image | img_url: '400x' }}"
                        alt="{{ block.settings.image.alt }}"
                    >
                </picture>
                <div class="slideshow--slide-content">
                    <div class="slideshow--slide-content-container">
                        <div class="slideshow--slide-content-info
                            {% if block.settings.align == 'Left' %}slideshow--slide-content-left{% endif %}
                            {% if block.settings.align == 'Right' %}slideshow--slide-content-right{% endif %}
                            {% if block.settings.align == 'Center' %}slideshow--slide-content-center{% endif %}"
                        >
                            {{ block.settings.content }}

                            <a  class="slideshow--slide-content-link {% for class in block.settings.link_classes %}{{ class }}{% endfor %}"
                                href="{{ block.settings.url }}"
                                {% if forloop.first %}
                                tabindex="0"
                                {% else %}
                                tabindex="-1"
                                {% endif %}
                            >
                                {{ block.settings.link_cta }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% unless section.blocks.size < 2 %}
        <div class="slideshow--pagination"></div>
        <button
            id="button-prev-{{ section.id }}"
            class="slideshow--button-prev"
            aria-label="previous slide"
            aria-disabled="true"
            disabled="disabled"
        >
            <span class="slideshow--button-icon" aria-hidden="true">
                {% render 'icon-chevron-left.svg' %}
            </span>
        </button>
        <button
            id="button-next-{{ section.id }}"
            class="slideshow--button-next"
            aria-label="next slide"
            aria-disabled="false"
        >
            <span class="slideshow--button-icon" aria-hidden="true">
                {% render 'icon-chevron-right.svg' %}
            </span>
        </button>
    {% endunless %}
</div>

{% schema %}
{
    "name": "Slideshow",
    "max_blocks": 4,
        "blocks": [
        {
            "name": "Slide",
            "type": "slide",
            "settings": [
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "content",
                    "type": "html",
                    "label": "Content",
                    "info": "Use basic HTML to format text"
                },
                {
                    "id": "align",
                    "type": "radio",
                    "label": "Align Content",
                    "options": [
                        {
                            "value": "Left"
                        },
                        {
                            "value": "Right"
                        },
                        {
                            "value": "Center"
                        }
                    ],
                    "default": "Left"
                },
                {
                    "id": "url",
                    "type": "url",
                    "label": "Link to Product or Collection."
                },
                {
                    "id": "link_cta",
                    "type": "text",
                    "label": "Link Call to Action."
                },
                {
                    "id": "link_classes",
                    "type": "text",
                    "label": "Link CSS classes",
                    "info": "Seperate each class with a space."
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "image",
            "name": "Slideshow"

        }
    ]
}
{% endschema %}